<menubar></menubar>

<form name="myForm">
    <section class="box ">
        <legend class="headingFont">Upload Vulnerability Assessment Report</legend>
        <section class="box">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary" >
                        Browse&hellip; <input type="file" id="file" name="file" ng-click="resetField()" onchange="angular.element(this).scope().setFiles(this)"
                                              style="display: none;" multiple>
                    </span>
                </label>
                <input type="text" ng-model="retrievedFileName"  placeholder="No file chosen" class="form-control" readonly>
            </div>
        </section>
        <div class="input-group">
            <div class="input-group-btn">
                <input type="button" class="btn btn-success custom" ng-click="testXMLFields()" value=" Transform XML..." />
            </div>
            <div ng-show="mybutton" class="input-group-btn">
                <input type="button" class="btn btn-warning custom" ng-click="saveXMLTableMapping()" value="     Save XML..." />
            </div>
            <div class="input-group-btn">
                <input type="button" class="btn btn-info custom" ng-click="manageXML()" value= "Manage Qualys report "/>
            </div>

        </div>
    </section>
</form>

<div class="row displayFont" id="uptab">
    <div class="col-lg-12">
        <table  ng-show="myvalue"  class="table tableLength table-bordered table-fixed-header">
            <thead>
            <tr>
                <th >QID</th>
                <th >Category</th>
                <th >Title</th>
                <th style=" word-wrap: break-word; max-width: 50px">Method</th>
                <th >URL</th>
                <th style=" max-width: 80px">Trigger</th>
                <th >CWE</th>
                <th >CVSS</th>
                <th style=" word-wrap: break-word; max-width: 60px">Mitigation Level</th>
                <th style="max-width: 180px">BIG-IP ASM Mitigation</th>
                <th >Comments</th>
            </tr>
            </thead>
            <tbody class="body">
            <tr ng-repeat="vul in testObject | orderBy:'qid'  track by $index  ">
                <td>{{vul.qid}}</td>
                <td>{{vul.category}}</td>
                <td style=" word-wrap: break-word; max-width: 100px">{{vul.title}}</td>
                <td style=" word-wrap: break-word; max-width: 50px">{{vul.method}}</td>
                <td style=" word-wrap: break-word; max-width: 100px">{{vul.url}}</td>
                <td style=" word-wrap: break-word; max-width: 100px">{{vul.trigger}}</td>
                <td>{{vul.cwe}}</td>
                <td>{{vul.cvssbase}}</td>
                <td style=" word-wrap: break-word; max-width: 60px">{{vul.mitigationlevel}}</td>
                <td style="max-width: 180px">{{vul.asmmitigation}}</td>
                <td>{{vul.comments}}</td>
            </tr>
            </tbody>
        </table>


    </div>
</div>















