<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Welcome to the ASM Web Application</h1>
            <div class="account-wall">
                <img class="logo profile-img" src={{logo1}} >
                <form class="form-signin">
                    <input type="text" class="form-control" placeholder="Username" ng-model="username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                    <button class="btn btn-lg btn-primary btn-block button-display" ng-click="userLogin()" >
                        Sign in
                    </button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account" ng-click="adminEntry()">Create an account </a>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p>The Username or password that you've entered is incorrect. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
