<menubar></menubar>
<section class=" box1 special">
    <div>
        <header class="major1">
            <h2>Welcome to the  Secure Application Services Portal</h2>
        </header>

        <div class ="row 100%">

            <div class ="4u 12u$(medium)">
                <section class=" box2 boxStyle" ng-click="appDashboard()" >
                    <i class="icon big rounded color1 ">
                     <a class="glyphicon glyphicon-file"></a>
                    </i>
                    <h2>Application Dashboard</h2>
                    <br>
                    <div class="font-Update">
                        {{textholder1}}
                    </div>
                </section>
            </div>
            <div class ="4u 12u$(medium)" ng-mouseenter="showIt()" ng-mouseleave="hideIt()" >
                <section class="box2 boxStyle">
                    <i class="icon big rounded color1  ">
                        <a class="glyphicon glyphicon-plus "></a>
                    </i>
                    <h2>Create a New Application</h2>
                    <br>
                    <div class="font-Update">
                        {{textholder2}}
                    </div>
                </section>
            </div>
            <div class ="4u 12u$(medium)">
                <section class="box2 boxStyle" ng-click="manageQualysScan()">
                    <i class="icon big rounded color1 ">
                            <img class="imageStyle" src={{qualyspic}}>
                    </i>
                    <h2>Manage Qualys Scan</h2>
                    <br>
                    <div class="font-Update">
                        {{textholder3}}
                    </div>
                </section>
            </div>


        </div>
    </div>
</section>

<div  ng-show="hovering">

    <section class=" box1 style special" >
        <header class="major2">
            <h2>Please select the SAS service for this new Web Application</h2>
        </header>
        <div>
            <div class ="row 75%">
                <div class ="col-md-15 col-xs-3">
                    <section class="box2 font-Update2" ng-click="">
                        <i class="icon big rounded color1 "> WAS
                        </i>

                    </section>
                </div>
                <div class ="col-md-15 col-xs-3">
                    <section class="box2 font-Update2" ng-click="">
                        <i class="icon big rounded color1 ">IWAP
                        </i>

                    </section>
                </div>
                <div class ="col-md-15 col-xs-3">
                    <section class="box2 font-Update2" ng-click="newApplication()">
                        <i class="icon big rounded color1">ASM
                        </i>
                    </section>
                </div>
                <div class ="col-md-15 col-xs-3">
                    <section class="box2 font-Update2" ng-click="">
                        <i class="icon big rounded color1">ATM
                        </i>

                    </section>
                </div>
                <div class ="col-md-15 col-xs-3">
                    <section class="box2 font-Update2">
                        <i class="icon big rounded color1 ">SBP
                        </i>

                    </section>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-15 col-xs-3">
                <div class="font-Update1">Web Application Shield Service</div>
            </div>
            <div class="col-md-15 col-xs-3">
                <div class="font-Update1">Integrated Web Application Protection Service</div>
            </div>
            <div class="col-md-15 col-xs-3" >
                <div class="font-Update1"  >BIG-IP Application Security Manager Policy Implementation Service</div>
            </div>
            <div class="col-md-15 col-xs-3">
                <div class="font-Update1">Application Threat Modeling Service</div>
            </div>
            <div class="col-md-15 col-xs-3">
                <div class="font-Update1">Secure Build Pipeline Service</div>
            </div>
        </div>
        <br>
        <br>
    </section>
</div>




