


.page-container{
    width:100% !important;
}
.pgLine{
    width : 1% !important;
    height: 55%;


    &__line {
        border-left: 1px solid #000;
        height: 282px;
    }

}
.positonHead{
    margin-left: 31%;
}
.positionside{

}
.textcolor{
    color: #00b3ee;
}
.picholder{
    margin-left: 120px;
    float: inherit;
}

.butholder{
    margin-left: 120px;

}
.form-control-force-select{
     display: inline-block;
     width: 11%;
 }

.form-control-force-input{
    display: inline-block;
    width: 30%;
}

.button-height{

    button{
        height: 60px;
        width: 150px;
        font-size: 15px;
        color:purple;
        font-family: "Roboto", sans-serif;
    }

    &__right {
        margin-right: 15%;
        float: right;
    }

    &__left {
        margin-left: 15%;
        float: left;
    }
}

.butholder1{
    margin-left: 280px;
}

.containclass{
    width: 60%;
}
.myfont{
    margin-left:20%;
}
.hompage-picture{
    height: 25%;
    width: 25%;
    /* vertical-align: middle; */
    margin-left: 40%;
    margin-top: -2%;
}

.homepage-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 12px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer !important;
}

.img_position{
    margin-left: 40%;
    margin-top: -2%;
}

.font_color{
    color:steelblue;
    font-family: "Roboto", sans-serif;
    font-size:20px;
}

.text_size{
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.textPosition{
    margin-left: 10%;
}
.textPosition2{
    margin-left: -100%;
}

.font-Update{
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    font-weight: bold;

}
.font-Update1{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    font-family: "Roboto", sans-serif;
    color: dodgerblue;
}

.font-Update2{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14px;

}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.container {
    width: 200px;
}
.outerDiv {
    width: 200px;
    height: 200px;
    text-align:center;
    background: yellow;
    position:relative;
}
.innerDiv {
    width: 100%;
    height: 100px;
    background: blue;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
}

header.major1 h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    font-family: "Roboto", sans-serif;
}

/* Box1 */

.box1 {
    border-radius: 0px;
    border:solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 1em;
    padding: 2.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

.box1 > :last-child,
.box1 > :last-child > :last-child,
.box1 > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box1.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Box2 */

.box2 {
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    margin-bottom: 1em;
    padding: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;


}

.box2 > :last-child,
.box2 > :last-child > :last-child,
.box2 > :last-child > :last-child > :last-child {
    margin-bottom: 0em;
}

.box2.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

.imageStyle{
    padding-top: 1em;

}

header.major2 h2 {
    font-size: 1.0em;
    font-weight: bold;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    font-family: "Roboto", sans-serif;
    color: dodgerblue;
}




