<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="homepage" >
                <img class="logo" src={{logo}}>
            </a>
        </div>
        <ul class="nav nav-logout navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}}<span class="glyphicon glyphicon-user pull-right"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="logout()">Logout<span class="glyphicon glyphicon-log-out pull-right"></span></a>
                    </li>
                    <li>
                        <a ng-click="adminEntry()">Admin Portal<span class="glyphicon glyphicon-log-out pull-right"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

